* {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 100%;
  height: 80px;
}
.header {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo1 {
  width: 180px;
  margin-right: 250px;
}
.link1 {
  text-decoration: none;
  color: black;
  font-size: 17px;
  margin-left: 55px;
}
.button1 {
  width: 210px;
  height: 55px;
  background-color: rgba(255, 113, 67, 1);
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 180px;
  font-size: 20px;
  font-weight: 550;
}
.section1 {
  width: 100%;
  height: 700px;
}
.container1 {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
.div1 {
  width: 45%;
}
.title1 {
  font-size: 80px;
  line-height: 85px;
  padding-bottom: 30px;
}
.subtitle1 {
  width: 420px;
  font-size: 20px;
  line-height: 32px;
  color: grey;
  padding-bottom: 40px;
}
.div2 {
  display: flex;
  gap: 35px;
}
.button2 {
  width: 230px;
  height: 60px;
  background-color: rgba(84, 84, 212, 1);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 550;
}
.icon1 {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: inherit;
  border: 1px solid grey;
  border-radius: 50%;
  font-size: 28px;
  margin-top: 7px;
}
.div3 {
  width: 55%;
  height: 600px;
  position: relative;
}
.img1 {
  width: 490px;
  position: relative;
  left: 170px;
  top: 130px;
  z-index: 1;
}
.img2 {
  width: 500px;
  position: relative;
  bottom: 290px;
  left: 140px;
  z-index: 2;
}
.img3 {
  width: 250px;
  position: relative;
  bottom: 470px;
  left: 500px;
  z-index: 3;
}
.section2 {
  width: 85%;
  height: 130px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img4 {
  width: 140px;
}
.section3 {
  width: 100%;
  padding: 100px 0;
}
.container2 {
  width: 85%;
  margin: auto;
}
.div4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div5 {
  width: 45%;
  height: 350px;
  position: relative;
}
.img5 {
  width: 200px;
  position: relative;
  left: 0;
  bottom: 300px;
  z-index: 1;
}
.img6 {
  width: 240px;
  position: relative;
  left: 40px;
  top: 0;
  z-index: 2;
}
.div6 {
  width: 45%;
}
.title2 {
  font-size: 58px;
  margin: 40px 0px;
  padding-top: 150px;
}
.parag2 {
  font-size: 25px;
  color: grey;
  line-height: 28px;
  padding-bottom: 20px;
  line-height: 1.5;
}
.link2 {
  text-decoration: none;
  color: rgba(84, 84, 212, 1);
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.section4 {
  width: 100%;
  padding: 100px 0;
}
.container3 {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
}
.div7 {
  width: 45%;
}
.title3 {
  font-size: 58px;
  margin: 40px 0px;
  padding-top: 150px;
}
.parag3 {
  font-size: 25px;
  color: grey;
  line-height: 28px;
  padding-bottom: 20px;
  line-height: 1.5;
}
.div8 {
  width: 45%;
  height: 350px;
  position: relative;
}
.img7 {
  width: 250px;
  position: relative;
  left: 280px;
  top: 100px;
  z-index: 1;
}
.img8 {
  width: 340px;
  position: relative;
  bottom: 290px;
  left: 130px;
  z-index: 2;
}
.section5 {
  width: 100%;
  padding: 60px 0;
}
.container4 {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
}
.div9 {
  width: 30%;
  text-align: center;
}
.img9 {
  width: 140px;
  margin-bottom: 20px;
}
.subtitle2 {
  font-size: 25px;
  padding-bottom: 10px;
}
.parag4 {
  font-size: 18px;
  color: grey;
  line-height: 24px;
}
.section6 {
  width: 100%;
  padding: 90px 0;
}
.container5 {
  width: 85%;
  margin: auto;
}
.div10 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 70px;
}
.title4 {
  font-size: 60px;
  line-height: 70px;
  color: #19191b;
}
.div11 {
  display: flex;
  background-color: #f7f7fb;
  border-radius: 10px;
}
.button4 {
  width: 160px;
  height: 55px;
  background-color: rgba(84, 84, 212, 1);
  color: white;
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}
.button5 {
  width: 160px;
  height: 55px;
  background-color: rgba(247, 247, 251, 1);
  color: #19191b;
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 16px;
}
.div12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div13 {
  width: 30%;
  height: 440px;
  background-color: rgba(247, 247, 251, 1);
  border-radius: 10px;
  text-align: center;
  padding-top: 35px;
}
.div14 {
  width: 33%;
  height: 450px;
  background-color: rgba(255, 113, 67, 1);
  border-radius: 10px;
  text-align: center;
  padding-top: 45px;
}
.parag5 {
  font-size: 18px;
  color: grey;
  padding-bottom: 25px;
}
.title5 {
  font-size: 54px;
  padding-bottom: 25px;
  color: rgba(29, 41, 63, 1);
}
.title5 span {
  font-size: 28px;
}
.parag6 {
  font-size: 17px;
  color: grey;
  line-height: 40px;
}
.button6 {
  width: 80%;
  height: 55px;
  background-color: white;
  color: rgba(84, 84, 212, 1);
  border: 1px solid rgba(247, 247, 251, 1);
  border-radius: 10px;
  font-size: 17px;
  margin-top: 35px;
}
.parag7 {
  font-size: 18px;
  color: white;
  padding-bottom: 25px;
}
.title6 {
  font-size: 54px;
  padding-bottom: 25px;
  color: white;
}
.title6 span {
  font-size: 28px;
}
.parag8 {
  font-size: 17px;
  color: white;
  line-height: 40px;
}
.button7 {
  width: 80%;
  height: 55px;
  background-color: rgba(159, 57, 25, 1);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  margin-top: 35px;
}
